body {
  background-image: url(../public/bg.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  background-color: black;
}

.random {
  width: 85px;
}
.nav {
  background: rgb(10, 14, 209);
  background: linear-gradient(
    90deg,
    rgba(10, 14, 209, 1) 38%,
    rgba(153, 4, 56, 1) 66%,
    rgba(205, 0, 0, 0.7231267507002801) 77%
  );
}

#dropdown-basic-button {
  width: 100px;
}

.mt-5 {
  margin-top: 5em !important;
}
