body {
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.welcome {
  background-image: url(./welcome.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background: linear-gradient(135deg, #4e73df, #2c3e91);
  padding: 1rem 2rem;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.navbar:hover {
  background: linear-gradient(135deg, #2c3e91, #4e73df);
}

.navbar .navbar-brand {
  font-family: 'Pokemon', sans-serif;
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbar .navbar-brand:hover {
  color: #a1c6f1;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  color: #ecf0f1;
  font-weight: 500;
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #a1c6f1;
  transform: translateY(-2px);
}

.navbar-nav .nav-link.active {
  color: #a1c6f1;
  font-weight: 600;
}

.navbar .nav-dropdown-toggle {
  font-size: 1.1rem;
  color: #ecf0f1;
  font-weight: 500;
}

.navbar .nav-dropdown-toggle:hover {
  color: #a1c6f1;
}

.navbar .nav-dropdown-item {
  background-color: transparent;
  color: #ecf0f1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .nav-dropdown-item:hover {
  background-color: rgba(161, 198, 241, 0.1);
  color: #3f4faf;
}

.navbar .nav-dropdown-divider {
  background-color: rgba(255, 255, 255, 0.2);
}

.user {
  height: auto;
  border-radius: 50%;
  border: 2px solid #3f4faf;
  transition: transform 0.3s ease;
}

.user {
  transform: scale(1.1);
}

.random {
  width: 85px;
}

.nav {
  background-color: #494949;
}

#dropdown-basic-button {
  width: 100px;
}

.mt-5 {
  margin-top: 5em !important;
}

.card {
  border-radius: 25px;
}

.cardBody {
  position: relative;
  bottom: 0.8em;
}

.input-pokemon {
  width: 100%;
  margin-top: 1rem;
  margin-left: 0.5rem;
  padding: 16px 24px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border: 2px solid gray;
  border-radius: 50px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 10px rgba(255, 87, 34, 0.2);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-pokemon::placeholder {
  color: black;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.input-pokemon:focus {
  outline: none;

  background-color: white;
}

.input-pokemon:focus::placeholder {
  opacity: 0;
}

.input-pokemon:active {
  transform: scale(0.98);
}

.input-pokemon:focus + .icon {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.caught {
  cursor: pointer;
  position: absolute;
  right: 6em;
  top: -1.5em;
  left: 0em;
  transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.caught:hover {
  transform: scale(1.1);
}
.leave {
  cursor: pointer;
  position: absolute;
  top: -1.5em;
  left: -0.5em;
  transition: box-shadow 0.3s ease, transform 0.1s ease;
  border-radius: 45%;
}

.leave:hover {
  transform: scale(1.1);
}

.tera {
  overflow: visible;
  position: relative;
  cursor: pointer;
  margin-top: 1vh;
  position: absolute;
  bottom: -4.2em;
  left: -4.2em;
}
@keyframes crystallize {
  0% {
    filter: brightness(1) contrast(1);
  }
  50% {
    filter: brightness(2) contrast(2.4);
  }
  100% {
    filter: brightness(1) contrast(1);
  }
}

.tera-animation {
  transition: background-image 1.2s ease-in-out;
  animation: crystallize 1s ease-in-out;
}

.mega {
  overflow: visible;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 2.8em;
  left: -3.5em;
}
.gmax {
  overflow: visible;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 6.8em;
  left: -3.5em;
}

.alola {
  overflow: visible;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 9em;
  left: -3.5em;
}

.hisui {
  overflow: visible;
  position: relative;
  cursor: pointer;
  position: absolute;
  top: 11.6em;
  left: -3.5em;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.mega:hover {
  animation: pulse 2.5s infinite;
}
.gmax:hover {
  animation: pulse 2.5s infinite;
}

.alola:hover {
  animation: pulse 2.5s infinite;
}

.hisui:hover {
  animation: pulse 2.5s infinite;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
  position: relative;
  box-shadow: -10px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
}

.ball:after {
  content: '';
  position: absolute;
  top: 47px;
  left: 0;
  width: 100px;
  height: 3px;
  background: #3f3f3f;
}

.ball:before {
  content: '';
  position: absolute;
  top: 33px;
  left: 33px;
  width: 27px;
  height: 27px;
  border: solid 3px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 7px -1px #c62828 inset;
  animation: button 3s ease infinite;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 7px -1px #c62828 inset;
  }
  25%,
  75% {
    box-shadow: 0 0 5px -1px #1300ea inset;
  }
}

.custom-alert {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 600px;
  z-index: 1050;
}

.sprite-pokedex {
  position: relative;
  top: 7em;
}
.title-pokedex {
  position: relative;
  top: 6em;
}

.star-pokedex {
  font-size: 2em;
  z-index: 10;
  position: relative;
  cursor: pointer;
}

.goBack {
  position: relative;
  top: 6em;
  left: 22.6em;
}

@media (max-width: 768px) {
  .goBack {
    left: 22em;
  }
}

.moreDetails {
  position: relative;
  top: 8em;
  left: 7.2em;
}

@media (max-width: 768px) {
  .moreDetails {
    left: 6em;
  }
}

.pen {
  position: relative;
  top: 3em;
  right: 1.5em;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #105589;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f76ee;
  border-radius: 20px;
  border: 2px none #ffffff;
}

.wallpaper {
  transition: 0.5s ease;
}

.wallpaper:hover {
  transform: scale(1.1);
}

.wallSelect:hover > :not(:hover) {
  opacity: 0.3;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.tooltip-content {
  font-size: 16px;
  max-width: 1200px;
}

.tooltip-trigger {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

@media (max-width: 768px) {
  .tooltip-box {
    width: 300px;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    height: auto;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.directionTooltip {
  display: flex;
}

@media (max-width: 768px) {
  .directionTooltip {
    flex-direction: column;
  }
}
