body {
  background-image: url(../public/bg.png);
  background-repeat: repeat;
  background-size: cover;
}

.random {
  width: 85px;
}

.card {
  background-image: url(../public/card.png);
  background-size: cover;
}
.nav {
  background-color: #494949;
}

#dropdown-basic-button {
  width: 100px;
}

.mt-5 {
  margin-top: 5em !important;
}
